/*hero */

.hero {
  height: 92vh;
  overflow: hidden;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 48px;
}

.hero-left-heading {
  font-size: 74px;
  font-weight: 600;
  line-height: 72px;
}

.hero-left-desc {
  font-size: 20px;
  margin: 24px 0;
}

.hero-left-btn {
  display: flex;
  margin-top: 36px;
  gap: 36px;
}
