/*hero */

.hero {
  overflow: hidden;
}

.hero-bg {
  background-image: url("https://media1.tenor.com/m/1i16nMrNj88AAAAC/nft-marketing-nft-gorillas.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 48px;
}

.hero-left-heading {
  font-size: 74px;
  font-weight: 600;
  line-height: 72px;
}

.hero-left-desc {
  font-size: 20px;
  margin: 24px 0;
}

.hero-left-btn {
  display: flex;
  margin-top: 36px;
  gap: 36px;
}

.hero-left-info {
  display: flex;
  padding: 48px 0 0;
  gap: 24px;
}

.hf-info-item {
  flex-direction: column;
}

.hfi-count {
  font-size: 36px;
  font-weight: 600;
}

.hfi-label {
  font-size: 14px;
  font-weight: 600;
}

.hero-right {
  display: flex;
  flex: 1;
  position: relative;
}

.hero-right-diamond {
  display: flex;
  flex-wrap: wrap;
  transform: rotate(45deg);
}

.diamond-item {
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 6px;
  transform: rotate(-45deg);
  cursor: pointer;
  border: 3px solid var(--dark);
  border-radius: 12px;
}

.hr-image {
  height: 300px;
  object-fit: contain;
  display: block;
}

.hero-right-blob {
  height: 550px;
  width: 550px;
  background: var(--bg-blob);
  filter: blur(160.58px);
  position: absolute;
  z-index: -99;
  left: 20%;
  top: 10%;
  transform: translate(-50%);
}

@media screen and (max-width: 1024px) {
  .hero {
    height: 100vh;
    display: flex;
    flex-flow: column-reverse;
  }
  .diamond-item {
    height: 170px;
    width: 170px;
    margin: 6px;
    border-radius: 12px;
    margin-top: 45px;
  }
  .hr-image {
    height: 100%;
    width: 100%;
  }
}
/*top art*/

.top-art {
  padding: 108px 0;
  position: relative;
}
.section-title {
  font-size: 46px;
  font-weight: 700;
  padding: 24px;
  margin-bottom: 36px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 26px;
    font-weight: 700;
    padding: 14px;
    margin-bottom: 36px;
  }
}
