.btn {
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
}

.btn-light {
  padding: 14px 25px;
  font-weight: 600;
  border-radius: 1rem;
  background: var(--white);
  color: var(--dark);

  font-size: var(--small-font);
  border: 1px solid #ccc;
}

.btn-dark {
  padding: 14px 25px;
  font-weight: 600;
  font-size: var(--small-font);
  border-radius: 1rem;
  background: var(--btn-bg);
  color: var(--white);
}

.btn-sm-light {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background: var(--white);
  color: var(--dark);
  border: 1px solid #ccc;
}

.btn-sm-dark {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background: var(--btn-bg);
  color: var(--white);
}

.btn-head {
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 1rem;
  background: var(--white);
  color: var(--dark);
  border: 1px solid #ccc;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .btn-head > div {
    display: none;
  }
}

/*button arrow */
.btn-a-body {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.btn-arrow-back {
  width: 8rem;
  height: auto;
}

.btn-arrow-fwd {
  width: 16rem;
  height: auto;
}

.btn-a-body .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--text-grad-1);
  border-radius: 1.625rem;
}

.btn-a-body .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.btn-a-body .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 1.625rem;
  width: 0.125rem;
  height: 0.125rem;
  background: none;
}

.btn-arrow-back .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(225deg);
}

.btn-arrow-fwd .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.btn-a-body .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.btn-a-body:hover .circle {
  width: 100%;
}

.btn-arrow-back:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(0.3rem, 0);
}

.btn-arrow-fwd:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(0.3rem, 0);
  width: 1.62rem;
}

.btn-a-body:hover .button-text {
  color: #fff;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .btn-arrow-fwd {
    width: 8rem;
    height: auto;
  }
  .btn-arrow-back {
    width: 7rem;
    height: auto;
  }
  .btn-a-body {
    font-size: 12px;
  }
  .btn-a-body .circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.625rem;
  }

  .btn-arrow-fwd .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.23rem;
    right: 0.0925rem;
    width: 0.525rem;
    height: 0.525rem;
  }
}

/*btn  gradient*/

.btn-gradient {
  border: none;
  border-radius: 20px;
  background: var(--text-grad-1);
  transition: all 1.5s ease;
  font-family: "Ropa Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 15px 0;
  text-align: center;
  color: #282936;

  font-size: 30px;
}

.btn-gradient > span {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 20px;
  background: #ffffff10;
  backdrop-filter: blur(20px);
  transition: 0.4s ease-in-out;
  transition-property: color;
  height: 100%;
  width: 100%;
}

.btn-gradient > span:hover {
  backdrop-filter: blur(1px);
  color: #ffffff;
  padding: 15px 35px;

  height: 100%;
  width: 100%;
}
/*btn wave */

.btn-wave {
  width: 100%;
  padding: 14px 25px;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);

  text-align: center;
}

.btn-wave:hover .wave {
  top: -120px;
}

.wave-text {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 600;
}

.wave {
  width: 100%;
  height: 200px;
  background-color: #27a9ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: -70px;
  transition: 0.4s;
}

.wave::before,
a .wave::after {
  width: 200%;
  height: 200%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.wave::before {
  border-radius: 45%;
  background-color: #0581b3;
  animation: wave 5s linear infinite;
}

.wave::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(300deg);
  }
}
