.btn {
  padding: 16px 55px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 60px;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-light {
  background: var(--white);
  color: var(--dark);
  border: 2px solid var(--text-grad-bg);
}

.btn-dark {
  background: var(--btn-bg);
  color: var(--white);
}

.t-grad-dark {
  background: var(--text-grad-bg);
  background: var(--text-grad-1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
