.btn {
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-light {
  padding: 16px 55px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 60px;
  background: var(--white);
  color: var(--dark);
  border: 2px solid var(--text-grad-bg);
}

.btn-dark {
  padding: 16px 55px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 60px;
  background: var(--btn-bg);
  color: var(--white);
}

.btn-sm-light {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background: var(--white);
  color: var(--dark);
  border: 2px solid var(--text-grad-bg);
}

.btn-sm-dark {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background: var(--btn-bg);
  color: var(--white);
}

.t-grad-dark {
  background: var(--text-grad-bg);
  background: var(--text-grad-1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
