.t-grad-dark {
  background: var(--text-grad-bg);
  background: var(--text-grad-1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*.switch-inputs */

.switch-btn {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 0.3em;
}

.switch-btn .switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.btn-slider {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  right: 20px;
  bottom: -10px;
  background-color: var(--btn-bg);
  transition: 0.4s;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.btn-slider .circle {
  background-color: var(--btn-bg);
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  transform: translateX(-50%);
  transition: 0.4s;
}

.btn-slider .circle::before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--btn-bg);
  transition: 0.4s;
}

.btn-slider .circle::after {
  content: "";
  background-color: white;
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.switch-input:checked + .btn-slider .circle {
  transform: translateX(2em);
  transition: 0.4s;
}

.switch-input:checked + .btn-slider .circle::before {
  background-color: var(--btn-bg);
  transition: 0.4s;
}

.switch-input:checked + .btn-slider .circle::after {
  width: 0;
  height: 0;
  transition: 0.4s;
}

.overlay {
  display: block;
  width: 100%;
  height: 16rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
