.table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-size: var(--small-font);
}

.table tr {
  border-top: 1px solid #ccc;
  padding: 0.35em;
}

.table th,
.table td {
  padding: 0.625em;
  text-align: left;
}

.table td span {
  font-weight: 600;
}

.table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  padding-bottom: var(--spacing);
}

.table-trans > div {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.table-stats > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;
  }

  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .table td {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    text-align: right;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}
