:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: white;
  --white: white;
  --dark: #555;
  --text-grad-bg: rgb(2, 0, 36);
  --text-grad-1: linear-gradient(
    32deg,
    #03a9f4,
    #f441a5,
    rgba(117, 0, 255, 1),
    #03a9f4
  );

  --text-grad-bg2: rgb(213, 204, 215);
  --text-grad-2: linear-gradient(
    122deg,
    rgba(213, 204, 215, 1) 0%,
    rgba(159, 103, 168, 1) 70%,
    rgba(173, 0, 255, 1) 100%
  );

  --btn-bg: #2f80ed;
  --bg-blob: rgba(143, 0, 255, 0.35);

  --spacing: 2rem;
  --body-font: 24px;
  --head-font: 56px;
}

@media screen and (max-width: 1020px) {
  :root {
    --spacing: 1.6rem;
    --body-font: 18px;
    --head-font: 36px;
  }
}

@media screen and (max-width: 750px) {
  :root {
    --spacing: 1rem;
    --body-font: 15px;
    --head-font: 28px;
  }
}
