.detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: normal;
  width: 100%;
  gap: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.details-img {
  width: 100%;
  margin: auto;
  border-radius: 14px;
  height: 500px;
}

.details-right {
  max-width: 65%;
}

.details-left {
  max-width: 30%;
}

.dr-heading {
  font-weight: 600;
  font-size: var(--head-font);
}

.dr-sub-heading {
  font-size: var(--body-font);
  line-height: 1.75rem;
  margin-bottom: 40px;
}

.dr-details {
  font-size: var(--body-font);
  line-height: 1.75rem;
  letter-spacing: 1px;
  line-height: 35px;
  margin-bottom: 40px;
}

.dr-bottom {
  padding: var(--spacing);
  background-color: var(--grey);
  border-radius: 15px;
}

.drb-price {
  font-size: var(--head-font);
  font-weight: 600;
}

.drb-price > span {
  font-weight: 400;
  font-size: 30px;
}

.drb-fiat {
  font-size: var(--body-font);
}

.drb-btn {
  padding-top: var(--spacing);
}

.dc-container {
  padding-bottom: var(--spacing);
}

.details-cards {
  background: var(--grey);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  border-radius: 15px;
}

.details-c-title {
  font-size: var(--mid-font);
  font-weight: 600;
}

.dct-container {
  padding: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1220px) {
  .details-right {
    max-width: 60%;
  }

  .details-left {
    max-width: 35%;
  }

  .details-img {
    width: 100%;
    margin: auto;
    border-radius: 14px;
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .details-right {
    max-width: 50%;
  }

  .details-left {
    max-width: 45%;
  }

  .details-img {
    width: 100%;
    margin: auto;
    border-radius: 14px;
    height: 350px;
  }

  .dct-container {
    padding: 30px;
  }
}

@media screen and (max-width: 750px) {
  .details-right {
    max-width: 100%;
  }

  .details-left {
    max-width: 100%;
  }

  .details-img {
    width: 100%;
    margin: auto;
    border-radius: 14px;
    height: auto;
  }
  .dct-container {
    padding: 16px;
  }
}

@media screen and (max-width: 500px) {
  .cat-banner {
    height: 180px;
    border-radius: 5px;
  }

  .cat-card {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
}
