.ta-card {
  flex-direction: column;
  width: 100% !important;

  padding: 0 5px;
}

.top-art-blob {
  height: 550px;
  width: 550px;
  background: var(--bg-blob);
  filter: blur(160.58px);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.ta-wrapper {
  background: var(--text-grad-1);
  padding: 2px;
  border-radius: 18px;
  flex: 50%;
  min-width: 100%;
}

.ta-content {
  background-color: var(--white);
  padding: 5px;
  border-radius: 18px;
}

.ta-banner {
  height: 300px;
  border-radius: 18px 18px 0 0;
  width: 100%;
}

.ta-user-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 16px 0;
  gap: 15px;
}

.ta-ui-price-logo {
  height: 30px;
  margin-right: 12px;
}

.ta-user-info-left {
  display: flex;
  flex: 1;
  align-items: center;
}

.ta-ui-price {
  font-size: 18px;
  font-weight: 600;
}
.ta-ui-uname {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
}
.ta-ui-handle {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}

.ta-btn > a {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .ta-banner {
    height: 180px;
    border-radius: 18px;
    width: 180px;
  }
}

/*category*/

.cat-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 8px;
}

.cat-card {
  -ms-flex: 20%;
  flex: 20%;
  max-width: 20%;
  padding: 4px 8px;
  flex-grow: 1;
}

.cat-blob {
  height: 550px;
  width: 550px;
  background: var(--bg-blob);
  filter: blur(160.58px);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.cat-wrapper {
  background: var(--text-grad-1);
  padding: 2px;
  border-radius: 18px;
  margin-top: 8px;
  vertical-align: middle;
  min-width: 100%;
}

.cat-content {
  background-color: var(--white);
  padding: 5px;
  border-radius: 0;
}

.cat-banner {
  height: 300px;
  border-radius: 0;
  width: 100%;
}

.cat-user-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 16px 0;
  gap: 15px;
}

.cat-ui-price-logo {
  height: 30px;
  margin-right: 12px;
}

.cat-user-info-left {
  display: flex;
  flex: 1;
  align-items: center;
}

.cat-ui-price {
  font-size: 18px;
  font-weight: 600;
}
.cat-ui-uname {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
}
.cat-ui-handle {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}

.cat-btn > a {
  font-size: 14px;
}

@media screen and (max-width: 1220px) {
  .cat-banner {
    height: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .cat-banner {
    height: 200px;
    border-radius: 5px;
  }

  .cat-card {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .cat-user-info {
    margin: 12px 0;
    gap: 10px;
  }

  .cat-ui-price-logo {
    height: 25px;
    margin-right: 8px;
  }
  .cat-ui-price {
    font-size: 12px;
    font-weight: 600;
  }
  .cat-ui-uname {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.7;
  }
  .cat-ui-handle {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 750px) {
  .cat-banner {
    height: 200px;
    border-radius: 5px;
  }

  .cat-card {
    -ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 4px;
  }
}

@media screen and (max-width: 500px) {
  .cat-banner {
    height: 180px;
    border-radius: 5px;
  }

  .cat-card {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
}
