.ta-card {
  flex-direction: column;
  width: 100% !important;

  padding: 10px 5px;
}

.top-art-blob {
  height: 550px;
  max-width: 550px;
  background: var(--bg-blob);
  filter: blur(160.58px);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.ta-wrapper {
  padding: 2px;
  border-radius: 18px;
  flex-basis: 30%;
  min-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.ta-content {
  background-color: var(--white);
  border-radius: 18px;
}

.ta-banner {
  width: 100%;
  border-radius: 18px 18px 0 0;
  aspect-ratio: 5/4;
  object-fit: cover;
}

.ta-user-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 6px 0;
  gap: 10px;
  padding: 10px;
}

.ta-ui-price-logo {
  height: 30px;
  margin-right: 12px;
}

.ta-user-info-left {
  display: flex;
  flex: 1;
  align-items: center;
}

.ta-ui-price {
  font-size: var(--small-font);
  font-weight: 400;
}
.ta-ui-uname {
  font-size: var(--small-font);
  font-weight: 400;
  opacity: 0.7;
}
.ta-ui-handle {
  font-size: var(--small-font);
  font-weight: 600;
  padding-bottom: 9px;
}

.ta-btn > a {
  font-size: var(--small-font);
}

@media screen and (max-width: 480px) {
  .ta-banner {
    height: 180px;
    border-radius: 18px;
    width: 100%;
  }
}

/*category*/

.cat-cards {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 8px;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

.cat-card {
  flex-basis: 20%;
  padding: 10px;
}

.cat-blob {
  height: 550px;
  width: 550px;
  background: var(--bg-blob);
  filter: blur(160.58px);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.cat-wrapper {
  background: var(--text-grad-1);
  padding: 2px;
  border-radius: 18px;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.cat-content {
  background-color: var(--white);
  padding: 0px;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.cat-banner {
  aspect-ratio: 5/4;

  border-radius: 8px 8px 0 0;
  width: 100%;
  object-fit: cover;
}

.cat-user-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 16px 0;
  padding: 0 8px;
  gap: 5px;
}

.cat-ui-price-logo {
  height: 30px;
  margin-right: 10px;
}

.cat-user-info-left {
  display: flex;
  flex: 1;
  align-items: center;
}

.cat-ui-price {
  font-size: var(--small-font);
  font-weight: 500;
}

.cat-ui-price > span {
  padding-left: 10px;
}
.cat-ui-uname {
  font-size: var(--small-font);
  font-weight: 400;
  opacity: 0.7;
}
.cat-ui-handle {
  font-size: var(--body-font);
  font-weight: 500;
  padding-bottom: 0px;
}

.cat-btn > a {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .cat-user-info {
    margin: 12px 0;
    gap: 10px;
  }

  .cat-ui-price-logo {
    height: 25px;
    margin-right: 8px;
  }
  .cat-ui-price {
    font-size: 12px;
    font-weight: 600;
  }
  .cat-ui-uname {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.7;
  }
  .cat-ui-handle {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 3px;
  }

  .cat-card {
    flex-basis: 33.33%;
    padding: 4px 4px;
  }
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 500px) {
  .cat-card {
    flex-basis: 50%;
  }
}
